.bg-container-2 {
    background: linear-gradient(
            283.77deg,
            rgba(240, 119, 45, 0.4) 15.62%,
            rgba(208, 22, 76, 0.08) 29.42%,
            rgba(73, 30, 118, 0.4) 48.55%,
            rgba(17, 31, 35, 0.28) 89.89%),
    url("../img/backgrounds/bg-container-2-index-opacity-0.4.png");
}

.gradient-album-covers {
    background: linear-gradient(
            269.71deg,
            rgba(240, 119, 45, 0.8) 14.87%,
            rgba(208, 22, 76, 0.8) 42.33%,
            rgba(73, 30, 118, 1) 57.99%,
            rgb(13, 31, 47) 83.57%);
    width: 100%;
    padding-bottom: 2rem;
}

.what-is-soundwave {
    width: 50%;
    text-align: center;
    margin: 20px auto 115px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.h1-what-is-soundwave {
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    line-height: 4.25rem;
    margin-bottom: -20px;
}

.scroll-container {
    /*border: 3px solid black;*/
    display: flex;
    align-items: center;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.initial-text {
    position: absolute;
    left: 0;
    animation: moveInitial 30s linear .2s forwards;
}

.first-text {
    position: absolute;
    left: -100%;
    animation: moveFirst 60s linear 1s infinite;
}

.second-text {
    position: absolute;
    left: -100%;
    animation: moveSecond 60s linear 32s infinite;
}

#what-is-soundwave,
#gradient-album-covers,
#brand-values {
    margin-bottom: 0;
}

@-webkit-keyframes moveInitial {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@-webkit-keyframes moveFirst {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

@-webkit-keyframes moveSecond {
    from {
        left: -100%;
    }
    to {
        left: 100%;
    }
}

.album-covers-info {
    padding: 100px 0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.album-covers {
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-inline: 30px;
    gap: 40px;
}

.album-covers img {
    width: 190px;
    border-radius: 10px;
    transition: var(--transition-quick);
    border: 4px solid transparent;
}

.album-covers img:hover
{
    border: 4px solid white;
    filter: brightness(70%);
    cursor: pointer;
}

.blue-line {
    height: 18px;
    width: 350px;
    background: linear-gradient(
        -90deg,
        #00FFFF 0%,
        #036481 49.55%,
        #040D3A 100%
    );
}

.orange-line {
    height: 18px;
    width: 350px;
    background: linear-gradient(
            90deg,
            #F3B829 0%,
            #F28121 49.55%,
            #4C1A2E 100%
    );
}

.album-covers__text {
    padding-inline: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

.middle {

}

.brand-values-gradient {
    width: 100%;
    background: linear-gradient(
            272.96deg,
            rgba(132, 91, 66, 0.4) 25.41%,
            rgba(174, 108, 68, 0.4) 30.49%,
            rgba(35, 15, 33, 0.08) 42.24%,
            rgba(30, 39, 118, 0.4) 59.48%,
            rgba(17, 31, 35, 0.28) 92.88%
    );
}

.brand-values-bg {
    background: url("../img/backgrounds/bg-container-3-black-dots.png");
}

.brand-values {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.brand-values-left, .brand-values-right {
    position: relative;
    width: 50%;
}

.brand-values__title {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 40px;
    width: 100%;
}

.brand-values__desc {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 48px;
    width: 80%;
}

.number {
    position: absolute;
    top: -70px;
    left: -80px;
    font-family: "Avenir 95 Black", serif;
    font-size: 15.625rem;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    opacity: 0.4;
}

.brand-values-container {
    display: flex;
    flex-direction: column;
    gap: 150px;
    width: 80%;
    margin: 100px auto;
}

.discover-more {
    background: linear-gradient(
            96.36deg,
            rgba(10, 12, 34, 0.63) 15.57%,
            rgba(28, 26, 40, 0.764277) 44.51%,
            rgba(70, 49, 36, 0.58) 65.11%,
            rgba(128, 72, 39, 0.48) 84.66%),
    url("../img/backgrounds/bg-container-4-colorful-soundwave.png");
    );
}

.soundwave-horizontal-slider-bg-gradient img {
    position: relative;
}

.discover-more__container {
    padding: 150px 50px;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.discover-more__item-container {
    position: relative;
}

.discover-more__item__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.discover-more__item__text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.discover-more__item {
    position: absolute;
    padding: 20px;
    bottom: 10%;
}

.discover-more__img {
    filter: brightness(0.5);
    border-radius: 10px;
    transition: var(--transition-smooth);
}

.discover-more__img:hover {
    filter: brightness(80%) blur(3px);
}

.description {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 29px;
}

.footer-no-margin {
    margin-bottom: 2rem !important;
}

.margin-b0 {
    margin-bottom: 0;
}

@media screen and (max-width: 1600px) {
    .brand-values__title {
        font-size: 3rem;
    }
    .brand-values__desc {
        font-size: 1.25rem;
    }
    .nav__link {
        font-size: 1.25rem !important;
    }
    .brand-values__desc {
        width: 100%;
    }
    .brand-values__desc {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1400px) {
    .discover-more__container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1320px) {
    .discover-more {
        margin-bottom: var(--section-margin-bot);
    }
    .footer__gif {
        display: none;
    }
    .footer {
        padding-inline: 2rem;
    }
}





@media screen and (max-width: 1200px) {
    .number {
        font-size: 11rem;
        left: -60px;
    }
    .brand-values__title {
        font-size: 2.25rem;
        margin-bottom: 20px;
    }
    .brand-values__desc {
        font-size: 1rem;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1170px) {
    .what-is-soundwave {
        width: 75%;
    }
    .description {
        font-size: 1.25rem;
    }
    .album-covers__text {
        font-size: 2rem;
    }
    .album-covers img {
        width: 150px;
    }
}

@media screen and (max-width: 1040px) {
    .brand-values {
        flex-direction: column;
        gap: 0;
        padding-left: 4rem;
    }
    .brand-values__img {
        display: none;
    }
    .brand-values-left,
    .brand-values-right {
        position: relative;
        width: 70%;
    }
    .discover-more__container {
        padding: 80px 50px;
    }
}

@media screen and (max-width: 760px) {
    .h1-what-is-soundwave {
        font-size: 2rem;
    }
    .what-is-soundwave {
        width: 85%;
    }
    .description {
        font-size: 1.15rem;
    }
    .album-covers__text {
        font-size: 1.5rem;
    }
    .album-covers img {
        width: 120px;
    }
    .brand-values-container {
        margin: 0 auto;
    }
    .discover-more__img {
        width: 350px;
    }
}

@media screen and (max-width: 670px) {
    .footer-no-margin {
        margin-bottom: 7rem !important;
    }
}

@media screen and (max-width: 600px) {
    .brand-values-left,
    .brand-values-right {
        position: relative;
        width: 100%;
    }
}



@media screen and (max-width: 550px) {
    .album-covers__text {
        font-size: 1rem;
    }
    .footer__links__category {
        padding-left: 0 !important;
    }
}
