@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

input {
  all: unset;
}

body {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #020209;
  color: white;
}

.form-signin {
  /*width: 100%;*/
  /*max-width: 330px;*/
  /*padding: 15px;*/
  /*margin: auto;*/
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 23, 27, 0.6705882353);
  border: 2px solid #6EFFFF;
  border-radius: 6px;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-control {
  background-color: transparent;
  border-bottom: 2px solid #6EFFFF;
  padding: 10px 5px;
  margin-bottom: var(--space-600);
}

.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #cc1f1f;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form__label {
  font-weight: 600;
}

.form__input {
  border-bottom: 2px solid #6EFFFF;
  padding: 10px 5px;
  margin-bottom: 2rem;
}

.bg-custom {
  background-image: url("../img/backgrounds/bg-dots-admin.jpg");
  background-size: cover;
  height: 100%;
}