@use "../abstract/mixins" as m;
@use "../abstract/colors" as c;

.dropdown {
    @include m.d-flex($d: column, $jc: space-around);
    transition: height 0.5s ease-in-out;
    height: 0; // start hidden
    overflow: hidden;
    z-index: 999;
    position: absolute;
    top: 2.5em;
    background-color: rgba(55, 55, 55, 0.75);
    width: 100%;
    &__item {
        cursor: pointer;
        height: 40px;
        transition: background-color 0.3s ease-out;
        &:not(:last-child) {
            border-bottom: 2px solid rgb(0, 0, 0, 0.25);
        }
        &:hover {
            background-color: var(--clr-primary-500);
        }
    }
    &__link {
        height: inherit;
        display: flex;
        align-items: center;
        font-size: var(--text-300);
        color: var(--clr-white);
        padding-left: var(--space-400);
        padding-right: var(--space-850);
    }
}