@use '../abstract/mixins' as m;

.form {
    display: flex;
    flex-direction: column;
    background-color: #14171BAB;
    border: 2px solid var(--clr-primary-100);
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: var(--space-900);
    &__label {
        padding-right: 200px;
        white-space: nowrap;
    }
    &__input {
        border-bottom: 2px solid var(--clr-primary-100);
        padding: 10px 5px;
        margin-bottom: var(--space-600);
        &::placeholder {
            @include m.font-style("Montserrat-Light", var(--text-250))
        }
    }
}