$borders: (
    rounded: (
        0: none,
        100: 0.125rem,
        200: 0.25rem,
        300: 0.375rem,
        400: 0.5rem,
        500: 0.75rem,
        600: 1rem,
        700: 1.5rem,
        800: 2rem,
        900: 2.5rem,
        full: 9999px
    )
)