@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/icomoon.eot?w2fequ');
    src:  url('../fonts/icomoon/icomoon.eot?w2fequ#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?w2fequ') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?w2fequ') format('woff'),
    url('../fonts/icomoon/icomoon.svg?w2fequ#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sound-mix:before {
    content: "\e900";
}
.icon-info_outline:before {
    content: "\e901";
}
.icon-queue_music:before {
    content: "\e902";
}
.icon-x-circle:before {
    content: "\e903";
}
.icon-trending-up:before {
    content: "\e904";
}
.icon-download:before {
    content: "\e905";
}
.icon-search:before {
    content: "\e906";
}
.icon-heartline:before {
    content: "\e907";
}
.icon-coffee-cup:before {
    content: "\e908";
}
.icon-confetti:before {
    content: "\e909";
}
.icon-workout:before {
    content: "\e90a";
}
.icon-focus:before {
    content: "\e90b";
}
.icon-book:before {
    content: "\e90c";
}
.icon-youtube:before {
    content: "\e90d";
}
.icon-twitter:before {
    content: "\e90e";
}
.icon-tiktok:before {
    content: "\e90f";
}
.icon-instagram:before {
    content: "\e910";
}
.icon-facebook:before {
    content: "\e911";
}
.icon-apple:before {
    content: "\e912";
}
.icon-timer:before {
    content: "\e913";
}
.icon-arrow-left:before {
    content: "\e914";
}
.icon-notifications:before {
    content: "\e915";
}
.icon-dots:before {
    content: "\e916";
}
.icon-share:before {
    content: "\e917";
}
.icon-shuffle:before {
    content: "\e918";
}
.icon-repeat:before {
    content: "\e919";
}
.icon-previous:before {
    content: "\e91a";
}
.icon-play:before {
    content: "\e91b";
}
.icon-next:before {
    content: "\e91c";
}
.icon-lyrics:before {
    content: "\e91d";
}
.icon-plus:before {
    content: "\e91e";
}
.icon-explore:before {
    content: "\e91f";
}
.icon-podcasts:before {
    content: "\e920";
}
.icon-music-note:before {
    content: "\e921";
}
.icon-grip-lines:before {
    content: "\e922";
}
.icon-triangle-right:before {
    content: "\e923";
}
.icon-language:before {
    content: "\e924";
}
.icon-logo:before {
    content: "\e925";
}
.icon-arrow-right:before {
    content: "\e926";
}
.icon-arrow-up:before {
    content: "\e927";
}
.icon-menu:before {
    content: "\e928";
}
.icon-privacy:before {
    content: "\e929";
}
.icon-accessibility:before {
    content: "\e92a";
}
.icon-mail:before {
    content: "\e92b";
}
.icon-hammer:before {
    content: "\e92c";
}
.icon-checkbox-unchecked:before {
    content: "\e92d";
}
.icon-checkbox:before {
    content: "\e92d";
}
.icon-unchecked:before {
    content: "\e92d";
}
.icon-square:before {
    content: "\e92d";
}
.icon-checkbox-checked:before {
    content: "\e92e";
}
.icon-checkbox1:before {
    content: "\e92e";
}
.icon-tick:before {
    content: "\e92e";
}
.icon-checked:before {
    content: "\e92e";
}
.icon-selected:before {
    content: "\e92e";
}
.icon-x:before {
    content: "\e92f";
}
.icon-lock:before {
    content: "\e930";
}
.icon-users:before {
    content: "\e931";
}
.icon-image-add-line:before {
    content: "\e932";
}
.icon-pause:before {
    content: "\e933";
}
.icon-repeat_one:before {
    content: "\e934";
}
.icon-repeat1:before {
    content: "\e935";
}
.icon-heart-fill:before {
    content: "\e936";
}
.icon-heart_outline:before {
    content: "\e937";
}
.icon-volume-medium:before {
    content: "\e938";
}